body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-chat {
  height: 80vh;
}

.right-chat {
  height: 80vh;
}

.chat-history {
  height: 90%;
}

.message-input {
  height: 10%;
}

.boxy-message {
  padding: 5px;
}

.boxy-message.ours {
  float: right;
  clear: both;
}

.boxy-message.theirs {
  float: left;
  clear: both;
}

.typing-indicator {
  float: left;
  clear: both;
}
